mat-card {
  width: 600px;
}
mat-icon.avatar {
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
:host {
  justify-content: center;
  display: flex;
  flex: 1;
  align-items: center;
}
