<!--<mat-drawer-container [class.myapp-dark-theme]="darkTheme" autosize>-->
<mat-drawer-container [ngClass]="{'myapp-dark-theme': darkTheme}" autosize>
  <mat-drawer #sidenav mode="over">
    <app-sidebar (navCLick)="sidenav.toggle()"></app-sidebar>
  </mat-drawer>
  <div class="site">
    <header>
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
      <!--<div class="square" [@square]="squareState" (click)="onClick()"></div>-->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>
