<mat-list-item class="container" [@itemAni]="widerPriority" [ngClass]="{
                  'priority-normal': item.priority === 3,
                  'priority-important': item.priority === 2,
                  'priority-emergency': item.priority === 1}"
               [appDrag]="true"
               [draggedClass]="'drag-start'"
               [dragTag]="'task-item'"
               [dragData]="item"
               (click)="onItemClick()">
  <mat-checkbox class="completion-status" [checked]="item.completed" (click)="onCheckBoxClick($event)"></mat-checkbox>
  <div mat-line class="content" [ngClass]="{'completed': item.completed}">
    <span [matTooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div mat-line class="bottom-bar" *ngIf="item.dueDate">
    <span class="due-date">{{item.dueDate | date: "yy-MM-dd"}}</span>
    <mat-icon *ngIf="item.reminder" class="alarm">alarm</mat-icon>
    <!-- 上面等于下边的写法   ||
    <ng-template [ngIf]="item.reminder">
      <mat-icon>alarm</mat-icon>
    </ng-template>-->
  </div>
  <mat-icon [svgIcon]="avatar" matListAvatar class="avatar"></mat-icon>
</mat-list-item>

